h3 {
    font-size: 2.5rem;
    font-weight: bold;
}
hr{
    margin: 0;
}
.logo {
    width: 5%;
}
.carousel-item {
    font-family: cursive;
    line-height: 2;
}
.feature-img {
    width: 30%;
}
#features, #footer{
    padding: 7% 0;
    text-align: center;
    background-color: whitesmoke;
}
.footer-logo {
    margin: 20px 10px;
}
.footer-logo:hover {
    color: gray;
}